<div id="<%= dom_id movie %>">
  <p>
    <strong>Movie title:</strong>
    <%= movie.movie_title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie.genre %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= movie.status %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= movie.image %>
  </p>

</div>
