<%= form_with(model: screen) do |form| %>
<% if screen.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(screen.errors.count, "error") %> prohibited this screen from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% screen.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :theatre_id, class: label_class %>
          <%= form.text_field :theatre_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :screen_name, class: label_class %>
          <%= form.text_field :screen_name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :seat_capacity, class: label_class %>
          <%= form.number_field :seat_capacity, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if screen.persisted? %>
<%= link_to "Cancel", screen, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", screens_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
