<div id="<%= dom_id booking %>">
  <p>
    <strong>Customer:</strong>
    <%= booking.customer_id %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= booking.show_id %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= booking.seat_id %>
  </p>

  <p>
    <strong>Booking date:</strong>
    <%= booking.booking_date %>
  </p>

</div>
