<div id="<%= dom_id payment %>">
  <p>
    <strong>Booking:</strong>
    <%= payment.booking_id %>
  </p>

  <p>
    <strong>Snack order:</strong>
    <%= payment.snack_order_id %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= payment.total_amount %>
  </p>

</div>
