<%= form_with(model: feedback) do |form| %>
<% if feedback.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% feedback.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :customer_id, class: label_class %>
          <%= form.text_field :customer_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date, class: label_class %>
          <%= form.date_field :date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :message, class: label_class %>
          <%= form.text_area :message, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if feedback.persisted? %>
<%= link_to "Cancel", feedback, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", feedbacks_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
