<div id="<%= dom_id movie_show %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_show.movie_id %>
  </p>

  <p>
    <strong>Theatre:</strong>
    <%= movie_show.theatre_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= movie_show.date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= movie_show.price %>
  </p>

</div>
