<%= form_with(model: snack_order) do |form| %>
<% if snack_order.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(snack_order.errors.count, "error") %> prohibited this snack_order from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% snack_order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :snack_id, class: label_class %>
          <%= form.text_field :snack_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :customer_id, class: label_class %>
          <%= form.text_field :customer_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :quantity, class: label_class %>
          <%= form.number_field :quantity, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if snack_order.persisted? %>
<%= link_to "Cancel", snack_order, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", snack_orders_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
