<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Snack_order</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to snack_orders_path, class: button_class(theme: "transparent") do %>
      All Snack_orders
      <% end %>
      <%= link_to edit_snack_order_path(@snack_order), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Snack:</p>
        <p><%= @snack_order.snack %></p>
      </li>
      <li>
        <p class="font-semibold">Customer:</p>
        <p><%= @snack_order.customer %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @snack_order.quantity %></p>
      </li>
  </ul>
</div>
